<?php
#error_reporting(0);

header("Cache-Control: no-store, no-cache, must-revalidate, max-age=0");
header("Cache-Control: post-check=0, pre-check=0", false);
header("Pragma: no-cache");
//header('Content-Type: application/json; charset=UTF-8');

date_default_timezone_set('America/Chicago');

$DB 	    = "ace_world";
$dbAddress="127.0.0.1";
$dbUser = "mysqluser";
$dbPass = "mysqlpassword";
$db="ace_world";

//$auth_required = true;
?>